* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f2f4fc;
  font-family: Roboto, sans-serif;
  color: #292e47;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  font-size: 20px;
}

header {
  z-index: 99;
}

/* Navbar Section */

.nav {
  margin-top: 70px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-logo {
  width: 60px;
  height: 18px;
  background-image: url(../src/logos/circle.svg);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.nav-link {
  padding: 20px;
  text-decoration: none;
  color: #6b708d;
  font-size: 17px;
  font-weight: 500;
}

.nav-link:hover {
  color: #072ac8;
}

.desktop-menu a:first-child {
  color: #0082f3;
}

.primary-btn {
  padding: 15px 30px;
  background-color: #072ac8;
  font-size: 17px;
  color: white;
  text-decoration: none;
}

.primary-btn:hover {
  background-color: #292e47;
}

/* Burger Menu */

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: black;
  color: white;
  list-style: none;
  padding-top: 4rem;
}

/* Hero Section */

.hero-section {
  padding-top: 100px;
}

.card img {
  width: 20%;
}

.hero-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-hero-div {
  max-width: 530px;
}

.hero-title {
  margin-top: 20px;
  margin-bottom: 30px;
  color: #292e47;
  font-size: 60px;
  line-height: 130%;
  font-weight: bold;
}

.body-regular {
  margin-top: 0px;
  margin-bottom: 40px;
  max-width: 435px;
  color: #6b708d;
  font-size: 20px;
  line-height: 150%;
}

.hero-btns {
  display: block;
  justify-content: flex-start;
  align-items: center;
}

.hero-btn {
  margin-left: 20px;
  margin-right: 40px;
}

.hero-text-btn {
  color: #6b708d;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
}

.right-hero-div {
  position: relative;
}

.card-1 {
  position: absolute;
  left: -19%;
  top: 0%;
  right: auto;
  bottom: auto;
  max-width: 375px;
}

.hero-img {
  width: 560px;
}

.card-2 {
  position: absolute;
  left: auto;
  top: auto;
  right: -25%;
  bottom: -22%;
  max-width: 375px;
}

/* Companies Section */

.companies {
  margin-top: 130px;
}

.grid-logos {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.client-logo {
  display: flex;
  width: 150px;
  height: 96px;
  max-height: 96px;
  max-width: 150px;
  justify-content: center;
  align-items: center;
}

.client-logo:hover {
  filter: grayscale(1);
  transition: all 300ms ease;
}

/* Projects Section */

.projects {
  margin-top: 200px;
  padding: 0 30px;
}

.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projects-heading {
  color: #292e47;
  font-size: 40px;
  line-height: 36px;
  margin-top: 20px;
}

.collection-list-wrapper {
  display: flex;
  margin-top: 70px;
}

.collection-list {
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 16px;
  max-width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;

  grid-template-columns: repeat(auto-fill, 186px);
}

.project-card {
  display: flex;
  width: 340px;
  height: 444px;
  max-height: 444px;
  max-width: 340px;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
}

.project-card-image {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.project-content {
  margin-top: -5px;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.project-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.project-title {
  margin: 30px 30px 20px;
  color: #292e47;
  font-size: 24px;
  line-height: 115%;
  font-weight: 500;
}
.project-title.project-description {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.project-link {
  margin: 30px;
  color: #072ac8;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
}

.project-title {
  margin: 30px 30px 20px;
  color: #292e47;
  font-size: 24px;
  line-height: 115%;
  font-weight: 500;
}

.project-title.project-description {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 400;
}

.project-link {
  margin: 30px;
  color: #072ac8;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
}

.projects-heading {
  color: #292e47;
  font-size: 40px;
  line-height: 44px;
  margin-top: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.learn-more-link-2 {
  margin-top: 113px;
}

.learn-more-link-3 {
  margin-top: 57px;
}

/* Testimonials Section */

.testimonials-section {
  position: relative;
  max-width: 1320px;
  padding: 0px 30px;
  height: 622px;
  margin-top: 200px;
  margin-right: auto;
  margin-left: auto;
  background-color: #292e47;
  background-image: url(../src/testimonial-section/orbit.png);
  background-position: 0px 0px;
  background-size: contain;
  color: #292e47;
}

.testimonials-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.testimonial-heading {
  color: #ecf7ff;
  font-size: 40px;
  text-align: center;
  line-height: 30px;
  margin-top: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.testimonial-text {
  max-width: 560px;
  margin-right: auto;
  margin-left: auto;
  color: #ffc600;
  font-size: 24px;
  line-height: 160%;
  font-weight: 500;
  text-align: center;
}

.client {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

.client-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url(../src/testimonial-section/profile.png);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.client-info {
  display: flex;
  margin-left: 10px;
  flex-direction: column;
  justify-content: space-around;
}

.client-name {
  color: #a2d6f9;
  font-size: 17px;
}

.client-position {
  color: #ecf7ff;
  font-size: 13px;
}

.emoji-top-left {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  margin-top: 5%;
  margin-left: 10%;
  background-image: url(../src/testimonial-section/memoji-1.png);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.emoji-top-right {
  position: absolute;
  width: 150px;
  height: 150px;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  margin-top: 5%;
  margin-right: 10%;
  background-image: url(../src/testimonial-section/memoji-4.png);
  background-position: 50% 50%;
  background-size: contain;
}

.emoji-bottom-left {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  margin-bottom: 5%;
  margin-left: 10%;
  padding-left: 0%;
  background-image: url(../src/testimonial-section/memoji-3.png);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.emoji-bottom-right {
  position: absolute;
  width: 150px;
  height: 150px;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  margin-right: 10%;
  margin-bottom: 5%;
  background-image: url(../src/testimonial-section/memoji-2.png);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Service Section */

.service-icon.icon-2 {
  background-image: url(../src/services-section/icons/2.svg);
}

.service-icon.icon-3 {
  background-image: url(../src/services-section/icons/3.svg);
}

.services-section {
  margin-top: 200px;
  padding: 0 30px;
}

.services-grid {
  display: grid;
  margin-top: 70px;
  grid-auto-columns: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.service-card {
  display: flex;
  max-width: 340px;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}

.service-icon {
  width: 80px;
  height: 80px;
  margin-top: 40px;
  margin-left: 40px;
  padding-bottom: 0px;
  padding-left: 0px;
  border-radius: 50%;
  background-color: #ecf7ff;
  background-image: url(../src/services-section/icons/1.svg);
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.service-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Suscribe Section */

.suscribe-section {
  max-width: 1320px;
  height: 500px;
  max-width: 1320px;
  margin-top: 200px;
  margin-right: auto;
  margin-left: auto;
  background-color: #ffc600;
  padding: 0px 30px;
}

.suscribe-form {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.suscribe-heading {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #292e47;
  font-size: 40px;
  line-height: 44px;
}

.suscribe-subtitle {
  font-size: 17px;
  color: #6b708d;
  margin-bottom: 50px;
}

.form {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  justify-content: center;
}

.sus-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textfield-wrapper {
  position: relative;
}

.textfield-icon {
  position: absolute;
  left: 7%;
  top: 30%;
  right: auto;
  bottom: auto;
  width: 30px;
  height: 30px;
  background-image: url(../src/suscribe-section/icon/mail.svg);
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.text-field {
  all: unset;
  width: 393px;
  height: 80px;
  font-size: 16px;
  margin-bottom: 0px;
  padding-left: 70px;
  background-color: #ecf7ff;
  border: 1px solid #cccccc;
}

.primary-btn-form {
  width: 180px;
  height: 80px;
  margin-left: 20px;
  padding-right: 60px;
  padding-left: 60px;
  padding: 15px 30px;
  background-color: #072ac8;
  font-size: 17px;
  display: inline-block;
  padding: 9px 15px;
  color: white;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
}

.primary-btn-form:hover {
  background-color: #292e47;
}

/* Footer Section */

.footer-section {
  margin-top: 200px;
  padding-bottom: 100px;
  padding: 0 30px;
  padding-bottom: 100px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.footer-content {
  display: flex;
  width: 260px;
  max-width: 260px;
  flex-direction: column;
}

.footer-content-logo {
  width: 100px;
  height: 30px;
  margin-bottom: 30px;
  background-image: url(../src/logos/circle.svg);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.footer-content-address {
  font-size: 17px;
  line-height: 150%;
  color: #6b708d;
}

.footer-links {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.footer-link {
  font-size: 17px;
  text-decoration: none;
  color: #0000ee;
}

.closeIcon {
  color: #f2f4fc;
  display: none;
}

/* Badge easterEgg - Made with ☕️ at IronHack */

.badge {
  position: fixed !important;
  display: inline-block !important;
  visibility: visible !important;
  z-index: 2147483647 !important;
  top: auto !important;
  right: 12px !important;
  bottom: 12px !important;
  left: auto !important;
  color: #aaadb0 !important;
  background-color: #fff !important;
  border-radius: 3px !important;
  padding: 6px 8px 6px 6px !important;
  font-size: 12px !important;
  opacity: 1 !important;
  line-height: 14px !important;
  text-decoration: none !important;
  transform: none !important;
  margin: 0 !important;
  width: auto !important;
  height: auto !important;
  white-space: nowrap;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 10%), 0 1px 3px rgb(0 0 0 / 10%);
  cursor: pointer;
}

/* Contact Section */

.contact {
  margin-top: 0px;
  padding: 0px 30px;
  margin: 0px 25px;
}

.contact-container {
  margin-top: 200px;
}

.contact-heading {
  margin-top: 0px;
  margin-bottom: 80px;
  font-size: 60px;
  line-height: 110%;
}

.form {
  margin: 0 0 15px;
}

.contact-form-wrapper {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 60px;
  grid-row-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.contact-title {
  margin-bottom: 10px;
  color: #6b708d;
  font-size: 20px;
  font-weight: 400;
}

.contact-text-field {
  all: unset;
  width: 100%;
  height: 70px;
  padding-left: 20px;
  margin-top: 10px;
  border: 1px none #000;
  background-color: rgba(107, 112, 141, 0.1);
}

.textarea {
  height: 200px;
  padding-top: 20px;
}

#form-1 {
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column-start: span 6;
  grid-column-end: span 6;
}

#form-2 {
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column-start: span 3;
  grid-column-end: span 3;
}

#form-3 {
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column-start: span 3;
  grid-column-end: span 3;
}

#form-4 {
  grid-row-start: span 3;
  grid-row-end: span 3;
  grid-column-start: span 6;
  grid-column-end: span 6;
}

#form-5 {
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column-start: span 6;
  grid-column-end: span 6;
}

.primary-btn-contact-form {
  all: unset;
  width: 96%;
  height: 50px;
  padding: 15px 30px;
  background-color: #072ac8;
  font-size: 17px;
  color: white;
  text-decoration: none;
  text-align: center;
}

.primary-btn-contact-form:hover {
  background-color: #292e47;
}

/* Post Section */

.post-section {
  margin-top: 70px;
  padding: 0px 30px;
}

.post {
  display: flex;
  flex-direction: column;
}

.post-page-title {
  font-size: 60px;
  line-height: 1;
}

.post-type-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.post-page-type {
  color: #6b708d;
  font-size: 24px;
  font-weight: 500;
}

.post-completion {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.post-completed {
  margin-right: 5px;
  font-size: 20px;
}

.post-date {
  color: #6b708d;
  font-size: 20px;
}

.post-image-wrapper {
  position: relative;
  margin-top: 80px;
}

.post-page-image {
  width: 100%;
  height: 444px;
  -o-object-fit: cover;
  object-fit: cover;
}

.post-page-image-effect {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  z-index: -1;
  width: 100%;
  height: 444px;
  opacity: 0.4;
  filter: saturate(200%) blur(40px);
  transform: translate(0px, 0px);
  transition: opacity 200ms ease;
  object-fit: cover;
}

.post-detail {
  margin-top: 70px;
  font-size: 20px;
  line-height: 30px;
}
/* Media Queries  */

@media screen and (max-width: 991px) {
  /* #project-cards {
    display: flex;
  } */

  .navbar {
    padding-right: 30px;
    padding-left: 30px;
  }

  .desktop-menu {
    display: none;
  }

  .desktop-btn {
    display: none;
  }

  .hero-section {
    padding-top: 0px;
  }
  .hero-top {
    flex-direction: column;
  }

  .left-hero-div {
    display: flex;
    max-width: 700px;
    flex-direction: column;
    align-items: center;
    align-self: center;
  }

  .hero-title {
    text-align: center;
  }

  .body-regular {
    max-width: 600px;
    text-align: center;
  }

  .hero-btns {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
  }
  .hero-btn {
    display: block;
    margin-left: 0px;
  }
  .hero-img {
    margin-top: 40px;
  }

  .grid-logos {
    justify-items: center;
    align-items: center;
    grid-column-gap: 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  .client-logo.amazon {
    display: none;
  }

  .projects {
    margin-top: 40px;
  }

  .collection-list {
    max-width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  .testimonials-section {
    height: 500px;
    margin-top: 60px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .testimonial-heading {
    max-width: 400px;
    margin-bottom: 0px;
    line-height: 150%;
  }
  .emoji-top-left {
    width: 100px;
    height: 100px;
  }

  .emoji-top-right {
    width: 100px;
    height: 100px;
  }

  .emoji-bottom-left {
    width: 100px;
    height: 100px;
  }

  .emoji-bottom-right {
    width: 100px;
    height: 100px;
  }

  .services-section {
    margin-top: 40px;
  }

  .suscribe-section {
    display: flex;
    max-width: 100%;
    margin-top: 60px;
    flex-direction: row;
  }

  .footer-section {
    margin-top: 60px;
  }

  .contact-container {
    margin-top: 20px;
  }
}

/* Burger Menu */

@media all and (min-width: 992px) {
  .burger {
    display: none;
  }
}

@media all and (max-width: 991px) {
  .hamburger {
    position: absolute;
    z-index: 100;
    top: 3rem;
    right: 3rem;
    padding: 16px;
    border: none;
    background: none;
    cursor: pointer;
  }

  .closeIcon {
    color: #f2f4fc;
    display: none;
  }

  .closeGround {
    background-color: #c8c8c9;
  }

  .menu {
    position: absolute;
    transform: translateY(-150%);
    transition: transform 0.2s;
    top: 90px;
    left: 0;
    right: 0;
    bottom: 850px;
    z-index: 99;
    background: #c8c8c9;
    list-style: none;
    padding-top: 1rem;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
  }

  .mobile-menu a:first-child {
    color: #0082f3;
  }

  .showMenu {
    transform: translateY(0);
  }
}

@media all and (max-width: 767px) {
  .card-1 {
    display: none;
  }

  .card-2 {
    display: none;
  }

  .services-grid {
    grid-template-columns: 1fr;
  }

  .projects-heading {
    text-align: center;
  }

  .collection-list-wrapper {
    margin-top: 20px;
  }

  .collection-list {
    justify-items: stretch;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }

  .collection-item {
    max-width: 100%;
  }

  .project-card {
    width: 100%;
    max-width: 100%;
  }

  .section.testimonial {
    height: 450px;
  }

  .emoji-top-left {
    display: none;
  }

  .emoji-top-right {
    display: none;
  }

  .emoji-bottom-left {
    display: none;
  }

  .emoji-bottom-right {
    display: none;
  }

  .projects-heading {
    text-align: center;
  }

  .services-grid {
    margin-top: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }

  .service-card {
    max-width: 100%;
  }

  .service-icon.icon-1 {
    flex: 0 0 auto;
  }

  .service-icon.icon-2 {
    flex: 0 0 auto;
  }

  .service-icon.icon-3 {
    flex: 0 0 auto;
  }

  .suscribe-section {
    width: 100%;
  }

  .suscribe-form {
    max-width: 100%;
  }

  .suscribe-heading {
    font-size: 30px;
  }

  .form {
    flex-direction: column;
  }

  .sus-form {
    flex-direction: column;
  }

  .primary-btn-form {
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
    margin-left: 0px;
  }

  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-content {
    align-items: center;
  }

  .footer-content-address {
    text-align: center;
  }

  .footer-links {
    margin-top: 20px;
  }

  .contact-heading {
    margin-bottom: 40px;
    font-size: 40px;
  }

  .contact-form {
    width: 100%;
    max-width: 100%;
  }

  .contact-form-wrapper {
    max-width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
  }

  #form-1 {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 5;
    grid-column-end: span 5;
  }

  #form-2 {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 5;
    grid-column-end: span 5;
  }

  #form-3 {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 5;
    grid-column-end: span 5;
  }

  #form-4 {
    grid-row-start: span 3;
    grid-row-end: span 3;
    grid-column-start: span 5;
    grid-column-end: span 5;
  }

  #form-5 {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 5;
    grid-column-end: span 5;
  }

  .primary-btn-contact-form {
    width: 94%;
  }
}
