#Ignoring misc-files folder with big files needed for the presentation day and others.

/misc-files/mid-term-project.fig
screencapture-trello-b-IWMcZnVN-midterm-project-2022-08-01-13_28_51.pdf
screencapture-trello-b-IWMcZnVN-midterm-project-2022-08-01-13_28_51.png
